@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>
@ViewBag.bookpickdate = bookpickdate;
@ViewBag.bookoffdate = bookoffdate;
@ViewBag.timepick = timepick;
@ViewBag.timeoff = timeoff;
@ViewBag.locationID = locationID;